<div class="col-xs-12 no-padding">
    <div class="col-xs-3 no-padding details">
        <div class="author-details text-center">
            <img class="img-circle"
                [src]="image"
                width="60"
            />
            <div class="author-meta">
                by <strong>Author Name</strong>
            </div>
            <div class="author-meta">
                <i class="mdi mdi-clock"></i> 6 months ago
                <br/>
                <i class="mdi mdi-heart"></i> 10,000 &nbsp; &nbsp;
                <i class="mdi mdi-eye"></i> 1,000
            </div>
            <div class="author-meta">
                <i class="mdi mdi-comment-account-outline"></i> 
                This becomes even plainer in the case of a guilty conscience, where we become aware of the inner condemnation
            </div>
        </div>
        <div class="col-xs-12 no-padding comments">
                <article class="media">
                        <figure class="media-left">
                          <p class="image is-64x64">
                            <img class="img-circle"
                                src="http://bulma.io/images/placeholders/128x128.png" 
                                width="50"/>
                          </p>
                        </figure>
                        <div class="media-content">
                          <div class="content">
                            <p>
                              <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
                              <br>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut.
                            </p>
                          </div>
                          
                        </div>
                </article>
                
        </div>
        
    </div>
    <div class="col-xs-9 no-padding main-img">
        <div class="col-xs-12 no-padding">
            <button class="delete pull-right" (click)="goBack()"></button>
        </div>
        <div class="col-xs-12 no-padding text-center">
            <img [src]="sampleImg" />
        </div>
    </div>
</div>