// component css goes here
$greenish: #00d1b2;

div{
    &.main-img{
        background-color: #f5f5f5;
        padding: 10px 10px;
        min-height: 100vh;
    }

    &.details{
        padding: 50px 10px;
        min-height: 100vh;
        overflow: auto;
    }

    &.author-details{
        border-bottom: solid thin #f5f5f5;
        margin: 20px 0px;
        padding-bottom: 20px;
    }
    &.author-meta{
        padding-top:20px;
    }
    &.comments{
        overflow:auto;
        position:absolute;
        
    }
    &.like-button{
        font-size: -webkit-xxx-large;
        position: absolute;
        bottom: 50px;
        background: #4717f6;
        border-radius: 50%;
        height: 80px;
        width: 80px;
        text-align: -webkit-center;
        color: #fff;
        padding-top:5px;
        right: 5px;
        cursor: pointer;    

        &:hover{
            color: $greenish;
        }
        &.active{
            color: $greenish !important;
        }
    }
}
