<div class="container">
    <div class="row">
        <h1>Create New Post</h1>
        <div class="description">
            Upload a clear, high quality image. The first image will be the display image for your design.
        </div>
            <form>
                <!--<dropzone [config]="DROPZONE_CONFIG"
                        [message]="'Click or drag images here to upload'" 
                        (error)="onUploadError($event)" 
                        (success)="onUploadSuccess($event)">
                </dropzone>-->
                <div class="col-xs-12 col-lg-6 col-md-8 center-div ">
                    <div class="col-xs-12 input-row">
                        <img [src]="image" alt="Upload Image"/>
                    </div>

                    <div class="form-control col-xs-12 input-row">
                        <input type="text" class="title" placeholder="Enter Post Title" autofocus/>
                    </div>

                    <div class="col-xs-12 input-row">
                        <div class="field">
                            <div class="control">
                              <textarea class="textarea is-medium" 
                                type="text" 
                                placeholder="Describe this post. Be brief but on point..."></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 input-row">
                        <div class="field">
                            <div class="control">
                                <input class="input is-medium" 
                                        type="text" 
                                        placeholder="Enter Tags separated by comma (,) e.g. UI, Motion, 3d, VR etc."/>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 input-row">
                        <div class="field">
                            <div class="control">
                                <input class="input is-medium" 
                                        type="text" 
                                        placeholder="Project website or demo url e.g. https://github.com/someProject"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 input-row div-select">
                        
                            <div class="field">
                                    <label>Post Type</label>
                                <div class="control">
                                    <div class="select is-medium is-fullwidth">
                                        <select>
                                          <option *ngFor="let project of projectType">
                                              {{project}}
                                          </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="field">
                                    <label>Platform</label>
                                <div class="control has-icons-left">
                                    <div class="select is-medium is-fullwidth">
                                        
                                        <select class="">
                                          <option *ngFor="let platform of platforms">{{platform}}</option>
                                        </select>
                                    </div>
                                    <div class="icon is-small is-left">
                                            <i class="mdi mdi-android"></i>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="col-xs-12 input-row">
                            <div class="field">
                                <div class="control">
                                    <a class="social-share" (click)="toggleSocialShare()">
                                        <i class="{{'mdi mdi-twitter-box '+(socialShare?'selected':'')}}"></i>
                                            Click to Share on Twitter
                                    </a>
                                </div>
                            </div>
                    </div>

                    <div class="col-xs-12 input-row text-center">
                        <button type="submit" class="button is-info">
                            Create Post
                        </button>
                    </div>
                </div>
            </form>
    </div>
</div>