// component css goes here
div.post-details{
    background: #fff;
    position: relative;
    padding: 10px;
    color: #000;
    border:solid thin #f1f1f1;
    border-top:none;
    font-size: 14px;
}