// component css goes here
$image_height:200px;
$image_width:300px;

div.post-details{
    background: #fff;
    position: relative;
    color: #000;
    border:solid thin #f1f1f1;
    border-top:none;
    font-size: 14px;
    padding: 20px;
    padding-top: 10px;
}

img{
    width: $image_width;
    min-height: $image_height;
    height: $image_height;
    max-height: $image_height;
}
span{
    &.post-creator{
        position: absolute;
        left: 5px;
        font-weight: bold;
    }
    &.action-btns{
        position: absolute;
        right: 5px;
    }
}