@import '../../../styles/colors';

nav {
    padding: 25px;
    height: 100px;
}
nav a {
    font-size: 20px;
    margin: 25px;
    &:hover, &:focus{
        text-decoration: none;
    }
    &:active{
        text-decoration: none;
    }
}
nav .links {
    float: right;
}
h1{
    font-size: 65px !important;
    line-height: 50px;
}
.social {
    margin-right:5px !important;
    margin-left: 5px !important;
    font-size: 40px !important;
}
a{
    &.hoverable{
        transition: width .1s ease, border-bottom .1s ease;
        &:hover{
            border-bottom: {
                style:solid;
                color:$dark_blue;
            }
            padding-bottom:15px;
        }
    }
    &.button.is-danger{
        margin:0px;
        margin-top:10px;
    }
    &.user-avatar{
        margin-top:7px !important;
        img{
            max-height: initial;
        }
    }
}

@media screen and (min-width: 1024px){
    .navbar-dropdown {
        left: initial;
        right: 0;
    }
}