<form role="form" novalidate 
(ngSubmit)="onSubmit(userData)" 
[formGroup]="userData">
        <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-success" 
                    type="text" placeholder="Enter Password" 
                    formControlName="username"/>
                  <span class="icon is-small is-left">
                    <i class="mdi mdi-account"></i>
                  </span>
                  <!--<span class="icon is-small is-right">
                    <i class="mdi mdi-check"></i>
                  </span>-->
                </div>
                <div *ngIf="userData.get('username').hasError('required')">
                    <p class="help is-danger">This field is required</p>
                </div>
        </div>
        <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-success" type="password" 
                    placeholder="Enter Password" formControlName="password">
                  <span class="icon is-small is-left">
                    <i class="mdi mdi-lock"></i>
                  </span>
                </div>
                <div *ngIf="userData.get('password').hasError('required')">
                    <p class="help is-danger">This field is required</p>
                </div>
        </div>

        <div class="control text-center">
            <button type="submit" 
                [disabled]="userData.invalid" 
                class="button is-primary">
                Sign In
            </button>
        </div>

        <hr/>
        <div class="text-center">
            <h3>Or Sign in with</h3>
            <a class="button is-primary" style="background:#1d88b4">
                <i class="mdi mdi-twitter" style="color:#73bbe7"></i> Sign In with twitter
            </a>
        </div>
</form>