<!--component html goes here -->
<div class="container-cura8tor" >
        <header class="clearfix">
            <h1> Cura8tor <span> community for designers, by designers </span></h1>	
        </header>
</div>
<div class="col-xs-12 col-md-8 col-lg-6 center-div">
    <div class="card">
        <header class="card-header">
            Hello User, Glad you decided to join us. 
        </header>
        <div class="card-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>