/* You can add global styles to this file, and also import other style files 
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/MaterialIcons-Regular.eot); 
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
      url(assets/fonts/MaterialIcons-Regular.woff) format('woff'),
      url(assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}*/

.no-padding{
    padding: 0px;
}
.text-center{
    text-align: center;
}
.center-div{
    margin: 0 auto;
    float: none;
}
div.main{
    padding: 0px 50px
}