
.no-padding{
    padding: 0px;
}
.text-center{
    text-align: center;
}
.center-div{
    margin: 0 auto;
    float: none;
}
div.main{
    padding: 0px 50px
}
textarea{
    resize: none !important;
}
.dz-message.dz-placeholder{
    height: 500px !important;
    padding: 25px;
}
.dz-remove{
    color: red;
}