<div class="container-cura8tor" >
    <header class="clearfix">
        <h1> Cura8tor <span> community for designers, by designers </span></h1>	
    </header>
</div>

<div class="container-cura8tor">	
    <!-- Codrops top bar -->
    
    <div class="main" *ngIf="posts$ | async; let posts; else loading">
      <ul id="og-grid" class="og-grid">
        <li *ngFor="let p of posts.reverse()" class="post">
          
          <post-item [post]="p.payload.val()"></post-item>

        </li>
      </ul>
    </div>
  </div><!-- /container -->

  <ng-template #loading>Loading&hellip;</ng-template>